
body {
    background-color: #fff !important;
}
p {
    font-size: 17px;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word!important;
}
ul li{
    word-break: break-word;
}
/* .top-right.links a {
    padding: 7px 25px;
    border-radius: 40px;
    background-color: #f47635;
    color: #fff;
    font-size: 15px;
} */
.sticky-top {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.top-right.links a:hover {
    text-decoration: none;
}
ul#homeTab.nav-pills .nav-link.active {
    background: #fff!important;
    border: 3px solid #000;
}
a.log-info {
    font-size: 12px !important;
}
a.log-info, a.res-info {
    font-size: 13px !important;
    color: #fff!important;

}
.nav-item {
    display: inline-block;
    
}
li.nav-item a:hover {
    color: #f47635;
}

ul li {
    font-size: 17px;
}

li.nav-item a {
    font-size: 15px;
    color: #222;
    text-transform: uppercase;
}
.list-inline-item {
    display: inline-block;
    font-size: 13px;
}
/* a.nav-link {
    padding-right: 2rem !important;
} */
.navbar-nav a{
    padding-right: 2rem !important;
}
.top-bar {
    background: #222;
    color: #bbb;
    font-size: 0.85em;
    padding: 8px 1rem;
    font-weight: 300;
}
.top-bar ul {
    margin-bottom: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.top-bar ul li {
    padding: 0 15px;
    border-right: 1px solid #555;
    margin-right: 0 !important;
}
.search {
    font-size: 20px;
}
.cart i {
    font-size: 20px;
    color: #000;
    
}
.row.inner-box {
    padding-top: 5em;
}
#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #fff;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600;
}
#myCarousel p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #d5d5d5;
}
#myCarousel .carousel-item a {
    background: #f47735;
    font-size: 14px;
    color: #fff;
    padding: 13px 32px;
    display: inline-block;
}
@media screen and (max-width: 528px)
{
    #myCarousel .carousel-item a {    
        display: none;
    }
}
#myCarousel .carousel-item a:hover {
    background: #394fa2;
    text-decoration: none;
}

#myCarousel .carousel-item h4 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
#myCarousel .carousel-item p {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
#myCarousel .carousel-item a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
#myCarousel .carousel-item .mask img {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    display: block;
    height: auto;
    max-width: 100%;
}
#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
    -webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {
    max-width: 1140px;
}
#myCarousel .carousel-item {
    height: 100%;
    min-height: 500px;
}
#myCarousel {
    position: relative;
    z-index: 1;
    background: #f0c27b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #4b1248,
        #f0c27b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4b1248,
        #f0c27b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: #777;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
    opacity: 0;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.dx {
    padding-right: 3em;
    padding-left: 1.5em;
}
.icon.dx i {
    font-size: 29px;
    color: #f47635;
}
.services-block {
    background: #171717;
    color: #fff;
    padding: 50px 0;
}
.headtext {
    margin-bottom: 20px;
    margin-top: -30px;
}
section.hm-3 .item {
    min-height: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    background-position: top right !important;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #fff;
}
section.hm-3 {
    background: #f5f5f5;
    min-height: 420px;
    margin-top: 2em;
}
section.hm-5 {
    background: #f5f5f5;
    min-height: 500px;
    margin-top: 3em;
    padding: 20px 0px;
}
.ribbon-success {
    position: absolute;
    top: 10px;
    left: 2px;
    z-index: 999;
    font-size: 0.9em;
    background: #28a745;
}
.ribbon,
.ribbon-primary,
.ribbon-warning,
.ribbon-danger,
.ribbon-info,
.ribbon-success {
    padding: 5px 15px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    letter-spacing: 0.2em;
}
.ribbon-success::before {
    border-top: 14px solid #145523;
}
.ribbon-success::before {
    content: "";
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    bottom: -14px;
    left: 0;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background: linear-gradient(to right, #434343, #000000);
}

/*** TESTIMONIALS ***/
.testimonial {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    position: relative;
}
.testimonial::after {
    position: absolute;
    top: -20px;
    left: 40px;
    opacity: 0.2;
}
.testimonial-info {
    display: table;
    width: 100%;
}
.testimonial-thumb {
    vertical-align: middle;
    display: table-cell;
    width: 80px;
    padding-right: 20px;
    height: 60px;
}
.testimonial-thumb img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.testimonial-name {
    display: table-cell;
    vertical-align: middle;
}
.testimonial-name h5 {
    font-size: 20px;
    margin-bottom: 0;
    color: #222222;
}
.testimonial-name span {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    color: #f47435;
    text-transform: uppercase;
    line-height: 18px;
}
.testimonial-desc p {
    font-size: 17px;
    color: #222222;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 30px;
}
.testimonial-carousel .slick-dots {
    bottom: -67px;
}
.testimonial-carousel .slick-list {
    padding-top: 20px;
}
.testimonial.style-2 {
    border: 0;
    padding: 40px 0;
}
.testimonial.style-2::after {
    top: -25px;
    left: 0;
    opacity: 1;
}
.testimonial-carousel-2 .slick-dots {
    text-align: left;
}
.testimonial-carousel-2 .slick-list {
    padding: 26px 0 0 0;
}
.testimonial.style-3::after {
    display: none;
}
.testimonial-carousel-3 .slick-list {
    padding: 26px 0 0 0;
}
.testimonial-carousel-3 .slick-dots {
    bottom: -67px;
}
.slick-slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    width: auto;
    height: auto;
}
.slick-slider .slick-dots li button {
    font-size: inherit;
    border: none;
    display: block;
    text-indent: -9999em;
    width: 8px;
    height: 8px;
    padding: 0;
    background: #F28D5D;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.slick-slider .slick-dots li.slick-active button {
    background: #f47435;
    width: 38px;
    height: 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
/*** END TESTIMONIALS ***/

/*** FOOTER ***/
.main-block {
    background: #111;
    padding: 85px 0;
    color: #ddd;
}
.main-block a {
    color: #ddd;
    font-size: 15px;
    line-height: 2;
}
.main-block a:hover {
    color: #f47635;
    font-size: 15px;
    text-decoration: none;
}
.text p {
    font-size: 14px;
}
.text a {
    color: #f47635;
}
.main-block h5 {
    color: #f47635;
}
.copyrights {
    background: #0e0e0e;
    color: #888;
    padding: 30px 0;
}
footer.main-footer .copyrights p,
footer.main-footer .copyrights ul {
    margin: 0;
}
ul.payment-list.list-inline-item.pull-right {
    float: right;
}
.site-links.col-lg-2.col-md-6 ul li {
    line-height: 2.5;
    font-size: 16px;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    padding: 15px;
    background-color: #f47535 !important;
    color: #fff !important;
}

/*** Products ***/
/* Product Title */
.padding-small {
    padding: 70px 0 !important
}
.hero {
    background: linear-gradient( to right, #4b1248, #f0c27b );
    color: #fff;
}
.block > ul > li > a {
    line-height: 2;
    color: #000;
}
.block > ul > li > a:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 6px 20px;
    margin: 10px 0px;
    border-radius: 40px;
}
/* Content */
.product_list{
    margin: 20px 0 0 0;
}
.product_grid {
    font-family: 'lato', sans-serif;
    text-align: center;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    margin: 15px 0;
}
.product_grid .product_image {
    position: relative;
    overflow: hidden;
    transition: 0.5s all;
}
.product_grid .product_image .image {
    display: block;
}
.product_grid .product_image img {
    width: 100%;
    height: auto;
}
.product_image .pic_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.5s all;
}
.product_grid .product_image .pic_1 {
    opacity: 1;
    transition: 0.5s all;
}
.product_grid:hover .product_image .pic_1 {
    opacity: 0;
}
.product_grid:hover .product_image .pic_2 {
    opacity: 1;
}
/* Content */
.product_grid .product_content {
    padding: 20px 10px;
}
.product_grid .product_content .title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 7px;
}
.product_grid .product_content .title a {
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s all;
}
.product_grid .product_content .title a:hover {
    color: red;
}
.product_grid .price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f47435;
}
/*** Product Detail ***/
.product-slider {
    margin: 10px 0;
}
ul.list-unstyled.list-detail-prd li {
    color: #777!important;
    font-size: 15px;
}
/*** End Product Detail ***/

/* Border */
 #CarouselProduct {
    margin: 0;
    text-align: center;
    width: 100%;
    height: auto;
}
.product-slider #ThumbProduct {
    margin: 12px 0 0;
    padding: 0 45px;
}
.product-slider #ThumbProduct .item {
    text-align: center;
}
.product-slider #ThumbProduct .item .SubThumbProduct {
    border: 4px solid #cecece;
    width: 15%;
    margin: 5px 2%;
    display: inline-block;
}
.product-slider #ThumbProduct .item .SubThumbProduct:hover {
    border-color: yellow;
}

/* Frame for Product Gallery */
.product-slider .item img {
    width: 100%;
    /* height: auto; */
}

/* Increment & Decrement Section */
.quantity .dec-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    border: 1px solid #999;
    text-align: center;
    cursor: pointer;
}

.quantity .inc-btn,
.quantity .dec-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 25px;
    border: 1px solid #999;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

.quantity input {
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    color: #333;
    font-weight: 400;
    line-height: 30px;
    outline: none;
}

.product_details .col-lg-6>.row>.col-lg-7,
.col-lg-5 {
    margin: 20px 0;
}

.product_details .col-lg-6>.row>.col-lg-6>ul>li,
.col-lg-6>ul>li {
    color: #fff;
    line-height: 2;
}

.product_details {
    margin-top: 40px;
}

.product_name {
    padding: 0;
    margin: 0 15px;
    color: #444444;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1px;
}

.product_cate {
    margin: 0px 15px;
}
.product_cate a {
    color: #444444;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.product_price {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #ff6601;
    margin: 0px 15px;
}
.product_description {
    font-size: 17px;
    margin: 0px 15px;
}
/* Define Comment Section */
.product-description a.nav-link {
    color: #555;
    text-transform: uppercase;
    border-color: #fff #fff #ddd;
    font-size: 0.9em;
    font-weight: 500;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.product-description .tab-content {
    padding: 20px 0;
}
/* Image Define In Comment Section */
.product-description .review-image {
    display: block;
    width: 120px;
    max-width: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0 auto .5rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.125);
}
.review {
    margin-bottom: 20px;
}
i.fa.fa-shopping-cart {
    font-size: 15px!important;
    -webkit-font-smoothing: antialiased;
}
a.cart-btn {
    padding: 9.7px;
    color: #fff;
    background-color: #28a745;
}
a.cart-btn:hover {
    color: #fff;
}
button.buynow {
    padding: 7px 31px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 15px;
}
p.price-dt {
    font-size: 20px;
    font-weight: 600;
}
.services-block-2 {
    background-image: url(../img/headphone-homepage-8.jpg);
    min-height: 300px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

/* input arrow*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*** LOGIN PAGE ***/
button.btn.login-btn {
    background: #f47635;
}
button.btn.res-btn {
    background: #f47635;
}
/*** END LOGIN PAGE ***/

/*** SEARCH SECTION ***/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 99999;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #f47435;
    border-radius: 50px;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}
.search-box i {
    font-size: 20px;
    color: #000;
}
.search-box i:hover {
    color: #f47435;
}

ul.dropdown-cart{
    min-width:300px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
span.item-info {
    font-size: 15px;
}
ul.dropdown-menu.dropdown-cart.mt-3.py-3.show {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    right: -8em!important;
}
.badge-cart:after {
    content: attr(data-count);
    position: absolute;
    background: #ff6600;
    height: 30px;
    top: -14px;
    right: -20px;
    width: 30px;
    text-align: center;
    line-height: 1.8;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
    font-weight: bold;
}
span.subtt {
    font-size: 18px;
    font-weight: 900;
}
i.fa.fa-shopping-basket.fa-2x.fa-border.icon-dark.badge-cart {
    font-size: 25px;
    color: #000;
    border: 1px solid #000;
}
span.required {
    color: red!important;
    font-size: 15px;
}

li.breadcrumb-item a {
    color: #fff!important;
}
.breadcrumb {
    background:none!important;
}
li.breadcrumb-item.active {
    color: #fff!important;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff!important;
    content: "/";
}
a.filter-li {
    color: #000;
    font-weight: 500;
    font-size: 17px;
}
a.filter-li:hover {
    background-color: #ff6806;
    color: #fff;
    border: 1px solid #ff6806;
}
a.filter-li:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
ul.pagination {
    justify-content: center;
}

.product_image {
    width: 70%;
    height: 120px!important;
}

.product_image img {
    width: 100%;
    height: 100%;
}
div#description {
    padding: 30px 30px;
}

.ribbon.ribbon-success.text-uppercase {
    -webkit-animation: pulsate-fwd 0.9s ease-in-out infinite both;
    animation: pulsate-fwd 0.9s ease-in-out infinite both;
}
i.fas.fa-search {
    -webkit-animation: pulsate-fwd 0.9s ease-in-out infinite both;
    animation: pulsate-fwd 0.9s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 210px!important;
}
