.sidebar-link.active, .sidebar-link:focus {
    background: #FFCCE1!important;
    color: #fff !important;
    text-decoration: none;
}
a.badge-edit {
    background-color: #F7EF64;
    color: #000;
}
a.badge-edit:hover {
    color: #000;
}
a.badge-ifgreen {
    background-color: #87DCC0;
    color: #fff;
}
a.badge-ifgreen:hover {
    color:#fff;
}
a.badge-del {
    background-color: #F9665E;
    color:#fff;
}

/*** Pagination ***/
ul.pagination li a {
    color: #000;
}
.page-item.active .page-link {
    background: #000!important;
    border-color: #000!important;
}
span.required {
    color: red;
    font-size: 15px;
}
button.admin-btn:hover {
    background-color: #fdbc24;
    transform: scale(1.1);
}
button.admin-btn {
    transition: ease 0.3s;
}
.static {
    border: 3px solid orange;
}